<section>
  <div class="container bg-light rounded mt-4 " style="width: 80%;">
    <div class="row " style="width: 100%;">
      <div class="col-md-6 m-auto">
        <h2 class="text-center">Add New Product</h2>
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">

          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" class="form-control">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description" cols="30" rows="5"></textarea>
          <label for="price" class="form-label">Price</label>
          <input type="number" name="price" class="form-control">

          <div class="m-2">
            <label for="image">Image</label>
            <input class="form-control" name="image" type="file" id="formFile">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-success mt-2">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>