<section>
  <div class="container-fluid bg-light m-auto mt-4 p-4 rounded" style="width: 40%;">
    <p class="text-center"><strong>Checkout Form</strong></p>
    {{#if error}}
    <p class="bg-danger text-light text-center">Please fill all fileds</p>
    {{/if}}
    <div class="card">
      <form id="checkout-form" class="card-body">
        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="md-form ">
              <label for="firstName" class="">Full name</label>
              <input name="full_name" type="text" id="firstName" class="form-control">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="md-form">
              <label for="mobile" class="">Mobile No.</label>
              <input type="number" name="mobile" class="form-control">
            </div>
          </div>
        </div>
        <div class="md-form mb-2">
          <label for="email" class="">Email (optional)</label>
          <input type="text" name="email" id="email" class="form-control" placeholder="youremail@example.com">
        </div>

        <div class="form-floating">
          <textarea name="address" class="form-control" placeholder="Address" id="floatingTextarea2"
            style="height: 100px"></textarea>
          <label for="floatingTextarea2">Address</label>
        </div>
        <div class="md-form mb-2">
          <label for="floatingTextarea2">Pincode</label>
          <input name="pincode" type="number" id="floatingTextarea2" class="form-control">
          <input name="userId" type="text" class="form-control" value="{{user._id}}" hidden>
        </div>
        <div class="form-check">
          <p class="p-2 text-success text-center">Choose Payement Method</p>
          <input class="form-check-input" type="radio" value="COD" name="payment_method" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Cash On Delivery
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="ONLINE" name="payment_method" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Online Payment
          </label>
        </div>
        <hr class="mb-2">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-info small btn-sm btn-lg btn-block text-light" type="submit"> <strong>Pay ₹
              {{total}}</strong> </button>
        </div>
      </form>
    </div>
  </div>
</section>