<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
    {{#if error}}
    <p class="bg-danger text-light text-center">Please fill all fileds</p>
    {{/if}}
    <form action="/signup" method="post">
      <input id="auth_input"  {{#if error}} class="form-control is-invalid" {{/if}} type="text" name="username" placeholder="Full Name" />
      <input id="auth_input"  {{#if error}} class="form-control is-invalid" {{/if}} type="text" name="email" placeholder="E-mail" />
      <input id="auth_input"  {{#if error}} class="form-control is-invalid" {{/if}} type="password" name="password" placeholder="Password" />
      <input type="submit" />
    </form>
    <p>Already have an account ? <a href="/login">Login</a></p>
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>

    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
</div>